.slider {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s;

  &.active {
    transform: scale(1);
    opacity: 1;
  }

  .image {
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

    @media (max-width: 940px) {
      width: 90%;
    }

    .action {
      position: absolute;
      outline: none;
      background-color: transparent;
      border: none;
      font-size: 40px;
      cursor: pointer;
      color: white;
      transform: scale(1);
      transition: all 0.2s ease;

      &:active,
      &:hover {
        transform: scale(1.1);
      }

      &.left {
        left: -30px;

        @media (max-width: 500px) {
          left: -15px;
          font-size: 20px;
        }
        @media (max-width: 500px) {
          left: -14px;
        }
      }

      &.right {
        right: -30px;

        @media (max-width: 500px) {
          right: -15px;
          font-size: 20px;
        }
        @media (max-width: 500px) {
          right: -14px;
        }
      }
    }

    img {
      max-width: 100%;
      object-fit: cover;
      height: auto;
      object-position: center center;
    }
  }
}
