.hotel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 779.9px) {
      flex-direction: column;
      gap: 20px;
    }

    .info {
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .title {
        font-weight: 700;
        font-size: 2rem;
      }

      .address {
        font-size: 1rem;
      }
      .distance,
      .text {
        font-weight: 400;
      }
      .distance {
        color: dodgerblue;
      }
      .text {
        color: green;
      }
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;

    .item {
      width: 100%;
      cursor: pointer;
      img {
        max-width: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  .footer {
    display: flex;
    gap: 1rem;

    @media (max-width: 779.9px) {
      flex-direction: column;
    }

    .desc {
      flex: 3;

      .title {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
    }
  }
}
